html {
    box-sizing: border-box
}
  
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}
  
/* resets font size to be 62.5% of the user preference - 
in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}
  
body {
    display: flex;
    background-color: darkcyan;
    /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: white;
    width: 250px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 20% 25% 20%;
    grid-template-areas: 
        "top"
        "job-title"
        "price"
        "bottom";
}

img {
    border-radius: 75%;
    border: greenyellow 2px solid;
}

#online {
    text-align: right;
    font-weight: lighter;
    font-size: larger;
}

#top {
    grid-area: top;
}

#job-title {
    background-color: lightgrey;
    padding: 2.55px 0;
    font-size: 1.3rem;
    grid-area: job-title;
}

#price {
    grid-area: price;
}

#bottom {
    grid-area: bottom;
}


#description {
    display: none;
}
